* {
    padding: 0;
  }
  
  body {
    background: black;
  }
  
  nav{
    position: fixed;
  }
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    display: list-item;
    padding: 14px 20px 14px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }
  
  a {
    text-decoration: none;
    color: #C3CEDA;
  }
  
  
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 0;
  }

  #scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
  }

  #progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
  }

  @keyframes animate {
    0%, 100% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(360deg);
    }
  }
  
  #progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
  }

  #progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
  }

/* End scrollbar */

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: black;
    color: #C3CEDA;
  }
  
  #about {
    margin-top: 200px;
    linear-gradient:; /* Possibly add gradient */
  }
  
  img {
    display: flex;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
  }

  h2 {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 320px;
    color: #071330;
  }
  
  p {
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Open Sans', sans-serif;
  }

  #projects {
    display: flex;
    background: black;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding-left: 15%;
  }
  
  .project-text {
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  @media {
    
  }